<!DOCTYPE html>
<html>
	<head>
	
	<title>My first vue app</title>
	<script src="https://unpkg.com/vue"></script>
	<script src="jquery-3.2.1.js" type="text/javascript"></script> 
	<link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>

	<div class="personList" id="app">
		<ol>
		    <personas
		      v-for="persona in personasList"
		      v-bind:todo="persona"
		      v-bind:key="persona.id">
		    </personas>
		</ol>
	</div>

	<div id="app2">
		<fieldset v-if="seen">
	      <legend>Datos personales</legend>
	     	<form onSubmit="">
	          <label>
	            Name:
	            <input id="textNombre" type="text" v-model="Name" onChange=""/>
	          </label>
	          <br/><br/>
	          <label>
	            Apellidos:
	            <input id="textApellidos" type="text" v-model="LastName" onChange="" />
	          </label>
	          <br/><br/>
	          <label>
	            Edad:
	            <input id="textEdad" type="text" v-model="Age" onChange="" />
	          </label>
	          <br/><br/>
	          <button v-on:click="guardar" type="button" id="buttonCrear">Guardar</button>
	          <button v-on:click="nuevo" type="button" id="buttonNuevo">Nuevo</button>
	          <button v-on:click="eliminar" type="button" id="buttonEliminar">Eliminar</button>
	          
	        </form>
      </fieldset>'
	</div>
	
	<script type="text/javascript" src="index.js"></script>
</body>
</html>




